gradio==4.19.1
lmdb==1.4.1
matplot==0.1.9
onnx==1.15.0
onnxruntime==1.17.0
PyAudio==0.2.14
PyYAML==6.0.1
scipy==1.12.0
six==1.16.0
sox==1.4.1
tensorboardX==2.6.2.2
torch==2.2.0
torchaudio==2.2.0
torchvision==0.17.0
tqdm==4.66.2